.product {
	&__price::after {
		content: "\20BD";	
	}
	&__img {
		width: 40%;
		padding: 20px 0;
	}
	&__order-button {
		padding: 0 15px;
		font-size: 14px;
		line-height: 40px;
		color: #fff;
		background-color: $accent;
		border-radius: 5px;
		border: 0px;
	}
	&__price {
		font-size: 28px;
		color: $font;
	}
	&__review {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 40px 0;
	}
	&__description-text {
		padding: 15px 40px;
	}
	&__description-title {
		padding: 0 40px;
	}
	&__description {
		padding-bottom: 40px;
	}
}
