.label {
	flex-basis: 50%;
	min-width: 200px;
	flex-grow: 1;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	/* Modal Content/Box */
	&__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		background-color: #fefefe;
		margin: 15% auto; /* 15% from the top and centered */
		border: 1px solid #888;
		width: 80%; /* Could be more or less, depending on screen size */
		max-width: 1140px;
		padding: 20px 15px;
	}
	&__inner {
		flex-basis: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__form {
		flex-grow: 1;
		flex-basis: calc(50% - 40px);
		padding: 20px 20px;
	}
	&__title {
		color: black;
	}
	&__login-wrapper {
		display: flex;
		flex-wrap: wrap;
	}
	&__form-item {
		width: calc(100% - 20px);
		margin: 20px 10px 0 10px;
	}

	&__button {
		margin: 20px 10px;	
	}
	&__checkbox {
		margin: 20px 0 0 10px;
	}
	&__checkbox-text {
		display: inline;
		color: black;	
	}
	&__checkbox-link {
		color: blue;
	}
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }
